/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background: #FFF;
}

.container {
  width: 1170px;
  padding: 0;
}

.btn {
  border-radius: 30px;
  border: none;
  background: linear-gradient(267deg, #3EB40C 0%, #345F99 100%);
  margin-bottom: 13px;
  padding: 0;
}
.btn button {
  color: #FFF;
  font-size: 16px;
  padding: 12px 30px;
}
.btn:hover {
  background: linear-gradient(267deg, #345F99 0%, #3EB40C 100%);
}

.btns {
  padding: 24px 0;
  background-color: rgba(204, 223, 236, 0.83);
  margin-bottom: 30px;
}
.btns .nav {
  gap: 30px;
}
.btns .nav-itemm {
  padding: 5px 9px;
  border-radius: 30px;
  background-color: #3EB20C;
}
.btns .nav-ite {
  padding: 11px 18px;
  border-radius: 50%;
  background-color: #345F99;
}
.btns .quest {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
}

.nav-item {
  padding: 5px 9px;
  border-radius: 30px;
  background-color: #345F99;
}

.nav-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
}
.nav-link:focus {
  color: #FFF;
}
.nav-link:hover {
  color: #FFF;
}

.title {
  padding: 33px 0 50px 0;
}
.title .button .one__btn {
  color: #345F99;
  font-size: 14px;
  font-weight: 300;
}
.title .button .two__btn {
  color: #3CA722;
  font-size: 14px;
  font-weight: 300;
}
.title .title__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title .title__top .title__title {
  color: #345F99;
  font-size: 40px;
  font-weight: 500;
  padding: 42px 232px 66px 0;
}
.title .register {
  padding: 40px 30px;
  border-radius: 15px;
  background: #D4E5EF;
}
.title .register .guide__title {
  color: #345F99;
  font-size: 20px;
  margin: 0 35px 0 40px;
}
.title .register .Arrow__logo {
  margin-right: 146px;
}
.title .register .enter {
  border-radius: 30px;
  border: 2px solid #3EB20C;
  margin-left: 26px;
}
.title .register .enter .enter__title {
  color: #3EB20C;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 50px;
}
.title .register .enter .enter__title:hover {
  color: #FFF;
}
.title .register .enter:hover {
  background: #3EB20C;
}

.header {
  margin: 40px 0;
}
.header .header__left .header__left-content {
  margin-left: 20px;
}
.header .header__left .header__left-content .project__title {
  color: #369E0F;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 10.08px;
  margin-bottom: 15px;
}
.header .header__left .header__left-content .metolom {
  color: #345F99;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.56px;
  margin-bottom: 9px;
}
.header .header__left .header__left-content .region__name {
  color: #345F99;
  font-size: 14px;
  letter-spacing: -0.56px;
}
.header .header__center {
  margin: 0 70px 0 100px;
}
.header .header__center .contact {
  position: relative;
  margin-bottom: 13px;
}
.header .header__center .contact .phone__number {
  color: #345F99;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.header .header__center .contact .name__email {
  color: #51C444;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding: 0 56px 0 65px;
}
.header .header__center .contact .search__icon {
  position: absolute;
  top: 13px;
  bottom: auto;
  right: auto;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-logos {
  gap: 10px;
}
.header .header__right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header .header__right .calculator {
  color: #51C444;
  font-size: 16px;
  text-decoration-line: underline;
}

.boxs {
  margin-bottom: 72px;
}
.boxs .box__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
}
.boxs .box {
  padding: 40px 40px 40px 20px;
  border-radius: 15px;
  background: #D4E5EF;
}
.boxs .box .box__img {
  padding: 5px;
}
.boxs .box .box__content {
  padding-left: 15px;
}
.boxs .box .box__content .box__title {
  color: #345F99;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.boxs .box .box__content .box__write {
  color: #345F99;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0 23px 0;
}

.input__btn {
  position: relative;
}
.input__btn .btn {
  padding: 12px 40px 12px 30px;
}
.input__btn .btn button {
  padding: 0 40px 0 0;
}
.input__btn .btn button a {
  color: #FFF;
}
.input__btn .input__icon {
  position: absolute;
  top: 27px;
  bottom: auto;
  right: auto;
  left: 420px;
  transform: translateY(-50%);
  cursor: pointer;
}
.input__btn .inputs {
  padding: 12px 590px 12px 68px;
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid #D4E5EF;
  cursor: pointer;
}
.input__btn .inputs input {
  border: none;
}
.input__btn .inputs input::-moz-placeholder {
  color: #2A5391;
  font-size: 16px;
}
.input__btn .inputs input::placeholder {
  color: #2A5391;
  font-size: 16px;
}
.input__btn .search__icon {
  position: absolute;
  top: 30px;
  bottom: auto;
  right: 166px;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */