// Colors
$white-red: #FF4C34;
$blue: #345F99;
$purple: #AF30C3;
$white-blue: #2FAAD1;
$green: #369E0F;
$white: #FFF;
$gray: #1E1E1E;
$white-green: #51C444;
$btn-color: linear-gradient(267deg, #3EB40C 0%, #345F99 100%);