@use "../abstracts/variables";
@use"../abstracts/mixins";


.header{
    margin: 40px 0;
    .header__left{

        .header__left-content{
            margin-left: 20px;

            .project__title{
                color: variables.$green;
                font-size: 18px;
                font-weight: 900;
                letter-spacing: 10.08px;
                margin-bottom: 15px;
            }
            .metolom{
                color: variables.$blue;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.56px;
                margin-bottom: 9px;
            }
            .region__name{
                color: variables.$blue;
                font-size: 14px;
                letter-spacing: -0.56px;
            }

        }
    }
    .header__center{
        margin:0 70px 0 100px;

        .contact{
            position: relative;
            margin-bottom: 13px;
            .phone__number{
                color: variables.$blue;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
            }
            .name__email{
                color: variables.$white-green;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                padding: 0 56px 0 65px;
            }
            .search__icon{
                @include mixins.search-icon($position: absolute, $top:13px)  
            }
        }    
        .header__center-logos{
            gap: 10px;
        }
    }
    .header__right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        .calculator{
            color: variables.$white-green;
            font-size: 16px;
            text-decoration-line: underline;
        }
    }
}
.boxs{
    margin-bottom: 72px;
    
    .box__wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 30px;
    }
    .box{
        padding: 40px 40px 40px 20px;
        border-radius: 15px;
        background: variables.$bg-color;

        .box__img{
            padding: 5px;

        }
        .box__content{
            padding-left: 15px;

            .box__title{
                color: variables.$blue;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
            }
            .box__write{
                color: variables.$blue;
                font-size: 16px;
                font-weight: 300;
                margin: 15px 0 23px 0;
            }
        }
    }
}
.input__btn{
    position: relative;
    .btn{
        padding: 12px 40px 12px 30px;

        button{
            padding: 0 40px 0 0;
            a{
                color: variables.$white;
            }
        }
    }

    .input__icon{
        @include mixins.search-icon($position: absolute, $top:27px, $left: 420px)
    }  
    .inputs{
        padding: 12px 590px 12px 68px;
        margin-left: 30px;
        border-radius: 30px;
        border: 1px solid variables.$bg-color;
        cursor: pointer;

        input{ 
            border: none;

            &::placeholder{
                color: variables.$white-blue;
                font-size: 16px;
            }
        }
    }
    .search__icon{
        @include mixins.search-icon($position: absolute, $top:30px, $right: 166px)  
    }
}